* {
  background-color: #f0f0f0;
}

header {
  text-align: center;
}

a {
  color: #0066cc;
}

.Header2 {
  color: #333;
}

h4 {
  color: #444;
  text-align: center;
}

b {
  color: #0066cc;
}

p {
  color: #555;
}

i {
  color: #cc3300;
}
.int {
  color: #0066cc;
}
